login:
    path: /login
    controller: App\Controller\SecurityController:login

logout:
    path: /logout

home:
    path: /
    controller: App\Controller\HomeController:index

user_list:
    path: /users
    controller: App\Controller\UserController:index

user_create:
    path: /user/create
    controller: App\Controller\UserController:create

user_register_u2f:
    path: /user/register_key
    controller: App\Controller\SecurityController:u2fRegistration